
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background-color: #ffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    z-index: 3;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}


.nav div.logo {

    float: left;
    width: auto;
    height: auto;
    padding-left: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
}

.nav div.logo a:hover {
    color:darkgray;
}

.nav div.main_list {
    height: 65px;
    float: right;
}

.nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-size: 2.4rem;
}

.nav div.main_list ul li a:hover {
    color: darkgray;
}


/* Home section */

.home {
    width: 100%;
    height: 100vh;
    background-image:url(fotky_domov/main.png);
    background-position: center;
	background-size:cover;
    
    
}

.navTrigger {
    display: none;
}

.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* Media qurey section */

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .nav div.logo {
        margin-left: 0;
        padding-left:20px;
    }
    .nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .nav div.show_list {
        height: auto;
        display: none;
    }
    .nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #111;
        /*same background color of navbar*/
        background-position: center top;
    }
    .make-nav-black-when-click{
        background-color: #111;
        
        }
    .line-under-nav{

        border-bottom: 8px solid #4242422d;
        z-index: 2;





    }
    .nav div.main_list ul li {
        width: 100%;
        text-align: left;
    }
    .nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 24px;
        padding: 20px;
    }
    .nav div.media_button {
        display: block;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #111;
}



@keyframes come-up{
    
    from{
        transform: translateY(300px);
    }

    to{
        transform: translateY(0);
}
}

.animation-come-up{

    animation-name: come-up;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0;
    animation-iteration-count: 1;
    animation-direction: normal;
    

}

















/* CARDS */


.cards {
    color: #434343;
    margin: 0 auto;
    max-width: 130rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
    grid-auto-rows: auto;
    gap: 35px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 30px;
}



.myH2 {
	text-align:center;
	font-weight: 400;
    font-size:45px;
    color: #434343;
    margin-top:125px;
    margin-bottom: 50px;
}




.card-date-text{
    font-weight: 400;
    font-size: 100%;
    margin:0;
    
}
.card-building-name{
    font-weight: 400;
    font-size: 190%;
    margin: 15px 0 20px 0;
    text-align: left;
    
}



.cards * {
    box-sizing: border-box;
}

.card__image {
     width: 100%; 
    height: 45%;
    object-fit: cover;

    display: block;

   
}

.card__content {
    line-height: 1.5;
    font-size: 1.5em;
    padding: 20px;
    padding-left: 0;
    background: inherit;


}



/* .card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;


    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
} */

.card-text-1{
    margin-bottom: 0;
    font-size:18px;
}
.card-text-2{
    margin-bottom: 0;
    font-size:18px;
    margin-top:3px;
    margin-bottom:15px;
}

.read-more-card{
    text-decoration: none;
    color: #434343;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom:200px;
}
.read-more-card:hover{
    text-decoration: underline;
}


section {
    width: 100%;
    display: inline-block;
    background: #333;
    height: 50vh;
    text-align: center;
  
  }


.black-bg-of-text{
   
    position: relative;
    top: 40%;
    display: inline-block;
    

    
}
#napis-bg-image{

    font-family: 'Montserrat',sans-serif;
    font-weight: 500;
    font-size:50px;
    color:white;
    margin: 0 0 30px 0;
    letter-spacing: 1px;
    
}

.button_container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    
  }
  
  .description, .link {

    
    text-align: center;
    
  }
  
  .description {
    font-size: 30px;
  }
  .button_container a{
    text-decoration: none;
  }
  
  .btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.15);
    padding: 17px 60px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  }
  
  .btn span {
    position: relative; 
    z-index: 1;
    opacity: 100%!important;
    color:white;
    font-family: 'Montserrat',sans-serif;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background:rgba(255, 255, 255, 0.5);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-5%) translateY(-25%) rotate(45deg);
  }
  
  .link {
    font-size: 20px;
    margin-top: 30px;
  }
  
  .link a {
    color: #000;
    font-size: 25px; 
  }

@media screen and (min-width:818px) and (max-width:983px){
    #napis-bg-image{
        font-size:40px;
    }
}

@media screen and (min-width:610px) and (max-width:818px){
    #napis-bg-image{
        font-size:35px;
    }

    .btn {

        font-size: 13px;
        padding: 16px 55px;
      }


}

@media screen and (min-width:1px) and (max-width:609px){
    #napis-bg-image{
        font-size:30px;
    }

    .btn {

        font-size: 13px;
        padding: 15px 48px;
      }

      .button_container {
        position: absolute;
        left: 0;
        right: 0;
        top: 90%;
        
      }
}


@media screen and (min-width:326px) and (max-width:523px){
    #napis-bg-image{
        font-size:28px;
    }

    .btn {

        font-size: 13px;
        padding: 14px 44px;
      }

      .button_container {
        top: 88%;
        
      }
}


@media screen and (min-width:1px) and (max-width:325px){
    #napis-bg-image{
        font-size:22px;
    }

    .btn {

        font-size: 11px;
        padding: 14px 38px;
      }

      .button_container {
        top: 88%;
        
      }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */

#preco-my-title{
    margin-top:140px;
    font-size:40px;
    text-align:center;
	font-weight: 400;
    color: #434343;

    margin-bottom: 50px;
}


.gridik-preco-my {
    color: #434343;
    margin: 0 auto;
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 35px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 30px;
}

.gridik-preco-my * {
    box-sizing: border-box;
}



.fotka-preco-my {
    width: 100%;
    height: 22%;
    object-fit:contain;
    
    display: block;

   
}

.text-preco-my-sekcia {
    line-height: 1.5;
    font-size: 2vw;
    padding: 20px;

    background: inherit;


}


.text-preco-my{
    margin-bottom: 0;
    font-size:18px;
    text-align:center;
    margin-top: 7px;
}

.nazov-preco-my{
    font-weight: 400;
    font-size: 30px;
    margin: 50px 0 0 0;
    text-align: center;
}



/* PRECO MY MEDIA */
@media screen and (max-width: 1057px) and (min-width: 837px){
    

    
    .nazov-preco-my{
        font-weight: 400;
        font-size: 30px;
        margin: 50px 0 0 0;
        text-align: center;
    }
    
    
    
    
    
    
    .text-preco-my{
        margin-bottom: 0;
        font-size:16px;
        text-align:center;
        margin-top: 7px;
    }
    
    
    
}  
@media screen and (max-width: 837px) and (min-width: 752px){
        
        #preco-my-title{
            margin-top:180px;
            font-size:35px;
            
        }
        
        
        .fotka-preco-my {

            height: 20%;  
        }
        
        
        
        
        
        .text-preco-my{

            font-size:15px;

        }
        .nazov-preco-my{

            font-size: 25px;

        }
        
}
@media screen and (max-width: 751px) and (min-width: 694px){

    #preco-my-title{
        margin-top:180px;
        font-size:35px;
        
    }
    
    
    .fotka-preco-my {

        height: 20%;  
    }
    
    
    
    
    
    .text-preco-my{

        font-size:12.5px;

    }
    .nazov-preco-my{

        font-size: 25px;

    }
    
}
@media screen and (max-width: 693px) and (min-width: 0px){
    .gridik-preco-my {
        grid-template-columns: 1fr;
        grid-auto-rows: 55vh;
        gap: 0px;
        padding-left: 15px;
        padding-right: 15px;
       
    }
    #preco-my-title{
       margin-top: 0;
        font-size:40px; 
        margin-bottom: 40px;
    }
    

    
    .gridik-preco-my * {
        box-sizing: border-box;
    }
    

    

    
    

    .nazov-preco-my{
        margin: 40px 0 0 0;
    }


}




/* carousel */



.our-clients {
	width: 100%;
	height: auto;
	text-align: center;
}

.our-clients ul {

	margin: 0;
    padding:0;
}

.our-clients ul li {
	list-style: none;
	display: inline-block;
	width:130px;
	height:100px;
	position: relative;
	overflow: hidden;
	cursor:pointer;
	margin: 12px;
	box-shadow: 0px 0px 10px -7px #555;
	transition: .5s;
}

.our-clients ul li img {
	width: 100%;
	height: 100%;
    filter: grayscale(100%);
    opacity: 80%;
}



/*Hover-Section*/


.partneri-napis{

    font-size:40px;
    text-align:center;
	font-weight: 400;
    color: #434343;
margin-top:0;
    margin-bottom: 80px;
}

@media screen  and (max-width:1065px){
    
    .partneri-napis{
    margin-top:100px;

    }
    footer{
        margin-top:100px;
    }
}










/* foter */

footer{

    margin:0;
    padding:0;
    box-sizing: border-box;
    background: #111;
    height:auto;
    width:100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top:40px;
    color:#fff;
    margin-top:300px;

}

footer h3{
    font-weight: 400!important;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;

}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    padding:0;
    transition: all ;

}
.socials li{
    margin: 0 8px;
    
}
.socials a{
    text-decoration: none;
    color:#fff;
}
.socials a svg{
    font-size: 1.4rem;

    transition: all 0.5s;

}
.socials a:hover svg{
    
    transform: translateY(-10px);
    color:crimson;



}


@media screen and (max-width:591px){

    #text-footer{
        padding-left:30px;
        padding-right:30px;
        font-size: 13px;
    }
    footer h3{
        margin-bottom:10px;
    }

}


@media screen and (min-width: 897px) and (max-width: 1301px){
 
    .card-text-1, .card-text-2{
        font-size:16px!important;
    }
    
      }
    
    @media screen and (max-width: 896px){
   
        .myH2 {
            font-size:30px!important;
            margin-top:75px;
            margin-bottom:30px;
        }

    
    
        .cards {      
        max-width: 100rem;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))!important;
        padding-left: 20px;
        gap:20px;
        padding-right: 20px;
        margin-left:0;
        margin-right:0;
        }
        

        .card-date-text{
            font-weight: 400;
         
            margin:0;
            
        }
        .card-building-name{
            font-weight: 400;
            font-size: 190%;
            margin: 10px 0 15px 0;
            
        }
        .card-text-1, .card-text-2{
            font-size:14px!important;
        }

    
    
    
    
    
    
        }











